<div row>
  <div class="small-7 small-centered columns">
<fieldset>
  <legend>Log In</legend>

<%= form_tag sessions_path do %>
  <div class="row collapse">
    <div class="small-4 columns">
      <span class="prefix">Email</span>
    </div>
    <div class="small-8 columns">
      <%= email_field_tag :email, params[:email] %>
    </div>
  </div>

  <div class="row collapse">
    <div class="small-4 columns">
      <span class="prefix">Passwort</span>
    </div>
    <div class="small-8 columns">
      <%= password_field_tag :password %>
    </div>
  </div>

  <div class="actions"><%= submit_tag "Log In" %>
<% end %>

</fieldset>
  </div>
</div>